* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  background: #141527;
  height: 100vh;
  text-align: center;
  width: 100%;
}

.leftColumn {
  width: 20%;
  color: white;
  position: sticky;
}

.rightColumn {
  width: 80%;
  overflow-y: scroll;
}